{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>MyBlog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body style="background-color:#d4a373">
        <header style="background-color:#faedcd;" class="page-header">
            <div style="color:salmon" class="container">
                <h1>This is my django blog</h1>
                <p> Created by: Cindy </p>
            </div>
        </header>
        <main style="color:white" class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>

        <footer style="background-color:#faedcd;">
                <p style="color:orange"><b>Go back to post list: </b><a href="{% url 'post_list' %}"> Click here </a></p>
                <p style="color:orange"><b>Create new post: </b><a href="{% url 'post_new' %}"> Click here </a></p>
        </footer>
    </body>
</html>